.cuerpo {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.contenedorizq {
  margin: 2%, 2%;
}

.contenedorder {
  margin-left: 2%;
}

.display-4 {
  text-align: center;
  margin-top: 2%;
}

.espacio {
  margin-top: 5%;
}

.imglogo {
  max-height: 4rem;
}